@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-TheSeasonsLightRegular.woff') format('woff'),
        url('FONTSPRINGDEMO-TheSeasonsLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

